h1 {
    color: rgba(163, 192, 200, 0.75);
    font-family: 'Shadoes Into Light', cursive;
    position: absolute;
    font-size: 350%;
    padding-left: 50%;
}

.leder {
    display: flex;
flex-direction: column;
position: static;

}